@layer components {
    input[disabled],
    textarea[disabled],
    select[disabled] {
        @apply bg-slate-50 cursor-not-allowed;
    }

    .form-checkbox[disabled],
    .form-checkbox.disabled,
    .form-radio[disabled],
    .form-radio.disabled {
        @apply opacity-75 text-slate-300;
    }
}
