@layer components {
    .has-error label {
        @apply text-red-500;
    }

    .input-error,
    .has-error .form-input,
    .has-error .form-select,
    .has-error .custom-select__button {
        @apply border-red-300 text-red-900 focus:border-red-300;
    }

    .input-error:not(.password-toggleable),
    .has-error .custom-select__button,
    .has-error .form-input:not(.password-toggleable),
    .has-error .form-select:not(.password-toggleable) {
        @apply focus:ring-red-400 focus:ring-opacity-50;
    }

    .has-error .password-input-container {
        @apply focus-within:ring-red-400 focus-within:border-red-300 focus-within:ring-opacity-50;
    }

    .has-error .password-toggle {
        @apply border-red-300;
    }

    .input-error::placeholder,
    .has-error .form-input::placeholder,
    .has-error .form-select::placeholder {
        @apply text-red-300;
    }
}
