@layer components {
    .has-error label {
        color: var(--input-error-label-color);
    }

    .form-error {
        @apply mt-1
        text-sm;

        color: var(--input-error-message-color);
    }

    .input-error,
    .has-error :is(.form-text, .form-select, .custom-select__button, .file-upload__input) {
        --input-border-color: var(--input-error-border-color);
        --input-color: var(--input-error-color);
        --input-placeholder-color: var(--input-error-placeholder-color);
        --input-background-color: var(--input-error-bg-color);
        --input-focus-border-color: var(--input-error-focus-border-color);
    }

    .has-error .file-upload__input::file-selector-button {
        --file-upload-button-bg: var(--file-upload-button-error-bg);
        --file-upload-button-color: var(--file-upload-button-error-color);
    }
}
