/* filepond overrides */
.filepond--root {
    @apply cursor-pointer;
}

.filepond--panel-root {
    @apply max-w-full transition;

    border-style: var(--filepond-border-style);
    border-width: var(--filepond-border-width);
    border-color: var(--input-border-color);
    border-radius: var(--input-border-radius);
    background-color: var(--filepond-bg);

    pointer-events: unset;
}

.filepond--root:hover .filepond--panel-root {
    background-color: var(--filepond-hover-bg);
}

.filepond--label-action {
    @apply transition-colors hover:opacity-75 focus:opacity-75;

    color: var(--filepond-label-link-color);
    text-decoration-color: var(--filepond-label-link-color);
}

.fc-filepond--desc {
    @apply cursor-pointer;

    color: var(--filepond-desc-color);
}

.fc-filepond--sub-desc {
    @apply text-xs !important;
}

/* error states */
:is(.has-error, .input-error) .filepond--panel-root {
    border-color: var(--input-error-border-color);
}

:is(.has-error, .input-error) .filepond--root:hover .filepond--panel-root {
    background-color: var(--input-error-bg-color);
}

/* dark mode */
.dark .filepond--panel-root {
    border-color: var(--input-dark-border-color);
    background-color: var(--input-dark-background-color);
}

.dark .filepond--root:hover .filepond--panel-root {
    background-color: var(--filepond-dark-hover-bg);
}

@media (prefers-color-scheme: dark) {
    .filepond--panel-root {
        border-color: var(--input-dark-border-color);
        background-color: var(--input-dark-background-color);
    }

    .filepond--root:hover .filepond--panel-root {
        background-color: var(--filepond-dark-hover-bg);
    }
}
