@layer components {
    .switch-toggle {
        @apply relative
        flex-shrink-0
        inline-flex
        rounded-full
        cursor-pointer
        focus:outline-none
        focus:ring-2
        focus:ring-offset-2
        focus:ring-blue-500;
    }

    .switch-toggle-simple {
        @apply h-6
        w-11
        border-2
        border-transparent
        transition-colors
        ease-in-out
        duration-200
        bg-slate-200;
    }

    .switch-toggle-simple.pressed {
        @apply bg-blue-600;
    }

    .switch-toggle-short {
        @apply items-center
        justify-center
        h-5
        w-10;
    }

    .switch-toggle-button {
        @apply inline-block
        h-5
        w-5
        rounded-full
        bg-white
        shadow
        transform
        ring-0
        transition
        ease-in-out
        duration-200
        translate-x-0;
    }

    .switch-toggle-button.pressed {
        @apply translate-x-5;
    }

    .switch-toggle-short-bg {
        @apply absolute
        h-4
        w-9
        mx-auto
        rounded-full
        transition-colors
        ease-in-out
        duration-200
        bg-gray-200;
    }

    .switch-toggle-short-bg.pressed {
        @apply bg-blue-600;
    }

    .switch-toggle-short-button {
        @apply absolute
        left-0
        inline-block
        h-5
        w-5
        border
        border-slate-200
        rounded-full
        bg-white
        shadow
        transform
        ring-0
        transition-transform
        ease-in-out
        duration-200
        translate-x-0;
    }

    .switch-toggle-short-button.pressed {
        @apply translate-x-5;
    }

    .switch-toggle.disabled,
    .switch-toggle[disabled] {
        @apply cursor-not-allowed;
    }

    .switch-toggle.disabled .switch-toggle-simple,
    .switch-toggle[disabled] .switch-toggle-simple {
        @apply opacity-75;
    }

    .switch-toggle.disabled.switch-toggle-simple,
    .switch-toggle[disabled].switch-toggle-simple,
    .switch-toggle.disabled .switch-toggle-short-bg,
    .switch-toggle[disabled] .switch-toggle-short-bg {
        @apply bg-gray-200;
    }

    .switch-toggle.disabled.switch-toggle-simple.pressed,
    .switch-toggle[disabled].switch-toggle-simple.pressed,
    .switch-toggle.disabled .switch-toggle-short-bg.pressed,
    .switch-toggle[disabled] .switch-toggle-short-bg.pressed {
        @apply bg-blue-400 opacity-75;
    }

    .switch-toggle.disabled .switch-toggle-button,
    .switch-toggle.disabled .switch-toggle-short-button,
    .switch-toggle[disabled] .switch-toggle-button,
    .switch-toggle[disabled] .switch-toggle-short-button {
        @apply bg-slate-100;
    }

    /*
     * responsive switch variants.
     * doing it this way because the selectors are not simple, and tailwind
     * appends the size prefixes to the last selector, which is not desired.
     */

    /* simple - sm */
    .switch-toggle--sm.switch-toggle-simple {
        @apply h-5 w-10;
    }

    .switch-toggle--sm.switch-toggle-simple .switch-toggle-button {
        @apply h-4 w-4;
    }

    .switch-toggle--sm.switch-toggle-simple .switch-toggle-button.pressed {
        @apply translate-x-5;
    }

    /* simple - base */
    .switch-toggle--base.switch-toggle-simple {
        @apply h-6 w-11;
    }

    .switch-toggle--base.switch-toggle-simple .switch-toggle-button {
        @apply h-5 w-5;
    }

    .switch-toggle--base.switch-toggle-simple .switch-toggle-button.pressed {
        @apply translate-x-5;
    }

    /* simple - lg */
    .switch-toggle--lg.switch-toggle-simple {
        @apply h-8 w-14;
    }

    .switch-toggle--lg.switch-toggle-simple .switch-toggle-button {
        @apply h-7 w-7;
    }

    .switch-toggle--lg.switch-toggle-simple .switch-toggle-button.pressed {
        @apply translate-x-6;
    }

    /* short - lg */
    .switch-toggle--lg.switch-toggle-short {
        @apply h-7 w-12;
    }

    .switch-toggle--lg.switch-toggle-short .switch-toggle-short-bg {
        @apply h-5 w-11;
    }

    .switch-toggle--lg.switch-toggle-short .switch-toggle-short-button {
        @apply h-6 w-6;
    }

    .switch-toggle--lg.switch-toggle-short .switch-toggle-short-button.pressed {
        @apply translate-x-6;
    }

    @screen sm {
        /* simple - sm */
        .sm\:switch-toggle--sm.switch-toggle-simple {
            @apply h-5 w-10;
        }

        .sm\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button {
            @apply h-4 w-4;
        }

        .sm\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - base */
        .sm\:switch-toggle--base.switch-toggle-simple {
            @apply h-6 w-11;
        }

        .sm\:switch-toggle--base.switch-toggle-simple .switch-toggle-button {
            @apply h-5 w-5;
        }

        .sm\:switch-toggle--base.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - lg */
        .sm\:switch-toggle--lg.switch-toggle-simple {
            @apply h-8 w-14;
        }

        .sm\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button {
            @apply h-7 w-7;
        }

        .sm\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-6;
        }

        /* short - lg */
        .sm\:switch-toggle--lg.switch-toggle-short {
            @apply h-7 w-12;
        }

        .sm\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-bg {
            @apply h-5 w-11;
        }

        .sm\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button {
            @apply h-6 w-6;
        }

        .sm\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button.pressed {
            @apply translate-x-6;
        }
    }

    @screen md {
        /* simple - sm */
        .md\:switch-toggle--sm.switch-toggle-simple {
            @apply h-5 w-10;
        }

        .md\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button {
            @apply h-4 w-4;
        }

        .md\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - base */
        .md\:switch-toggle--base.switch-toggle-simple {
            @apply h-6 w-11;
        }

        .md\:switch-toggle--base.switch-toggle-simple .switch-toggle-button {
            @apply h-5 w-5;
        }

        .md\:switch-toggle--base.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - lg */
        .md\:switch-toggle--lg.switch-toggle-simple {
            @apply h-8 w-14;
        }

        .md\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button {
            @apply h-7 w-7;
        }

        .md\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-6;
        }

        /* short - lg */
        .md\:switch-toggle--lg.switch-toggle-short {
            @apply h-7 w-12;
        }

        .md\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-bg {
            @apply h-5 w-11;
        }

        .md\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button {
            @apply h-6 w-6;
        }

        .md\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button.pressed {
            @apply translate-x-6;
        }
    }

    @screen lg {
        /* simple - sm */
        .lg\:switch-toggle--sm.switch-toggle-simple {
            @apply h-5 w-10;
        }

        .lg\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button {
            @apply h-4 w-4;
        }

        .lg\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - base */
        .lg\:switch-toggle--base.switch-toggle-simple {
            @apply h-6 w-11;
        }

        .lg\:switch-toggle--base.switch-toggle-simple .switch-toggle-button {
            @apply h-5 w-5;
        }

        .lg\:switch-toggle--base.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - lg */
        .lg\:switch-toggle--lg.switch-toggle-simple {
            @apply h-8 w-14;
        }

        .lg\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button {
            @apply h-7 w-7;
        }

        .lg\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-6;
        }

        /* short - lg */
        .lg\:switch-toggle--lg.switch-toggle-short {
            @apply h-7 w-12;
        }

        .lg\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-bg {
            @apply h-5 w-11;
        }

        .lg\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button {
            @apply h-6 w-6;
        }

        .lg\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button.pressed {
            @apply translate-x-6;
        }
    }

    @screen xl {
        /* simple - sm */
        .xl\:switch-toggle--sm.switch-toggle-simple {
            @apply h-5 w-10;
        }

        .xl\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button {
            @apply h-4 w-4;
        }

        .xl\:switch-toggle--sm.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - base */
        .xl\:switch-toggle--base.switch-toggle-simple {
            @apply h-6 w-11;
        }

        .xl\:switch-toggle--base.switch-toggle-simple .switch-toggle-button {
            @apply h-5 w-5;
        }

        .xl\:switch-toggle--base.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-5;
        }

        /* simple - lg */
        .xl\:switch-toggle--lg.switch-toggle-simple {
            @apply h-8 w-14;
        }

        .xl\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button {
            @apply h-7 w-7;
        }

        .xl\:switch-toggle--lg.switch-toggle-simple .switch-toggle-button.pressed {
            @apply translate-x-6;
        }

        /* short - lg */
        .xl\:switch-toggle--lg.switch-toggle-short {
            @apply h-7 w-12;
        }

        .xl\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-bg {
            @apply h-5 w-11;
        }

        .xl\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button {
            @apply h-6 w-6;
        }

        .xl\:switch-toggle--lg.switch-toggle-short .switch-toggle-short-button.pressed {
            @apply translate-x-6;
        }
    }
}
