@layer components {
    .switch-toggle-container {
        @apply relative
        inline-flex
        items-center
        cursor-pointer;
    }

    .switch-toggle__label {
        @apply text-sm;

        font-weight: var(--switch-toggle-label-font-weight);
        color: var(--switch-toggle-label-color);
    }

    .switch-toggle__label--left {
        @apply mr-3;
    }

    .switch-toggle__label--right {
        @apply ml-3;
    }

    .switch-toggle {
        @apply relative
        rounded-full;

        background-color: var(--switch-toggle-bg);
        width: var(--switch-toggle-width);
        height: var(--switch-toggle-height);
    }

    .switch-toggle:after {
        @apply absolute
        bg-white
        border
        border-slate-300
        rounded-full
        transition-all;
        content: '';
        top: 2px;
        left: 2px;

        width: var(--switch-toggle-circle-size);
        height: var(--switch-toggle-circle-size);
    }

    .peer:focus ~ .switch-toggle {
        @apply outline-none
        ring-4;

        --tw-ring-color: var(--switch-toggle-ring-color);
    }

    .peer:checked ~ .switch-toggle {
        background-color: var(--switch-toggle-bg-checked);
    }

    .peer:checked ~ .switch-toggle:after {
        @apply translate-x-full
        border-white;
    }

    .peer:disabled ~ .switch-toggle {
        @apply cursor-not-allowed opacity-50;
    }

    .peer:disabled ~ .switch-toggle__label {
        @apply cursor-not-allowed opacity-75;

        color: var(--switch-toggle-disabled-label-color);
    }

    .switch-toggle__icon {
        @apply absolute
        hidden
        z-[1];

        top: 5px;
        width: var(--switch-toggle-icon-size);
        height: var(--switch-toggle-icon-size);
    }

    .switch-toggle__icon--off {
        @apply inline-block;
        left: 5px;
    }

    .switch-toggle__icon--on {
        right: 5px;
        color: var(--switch-toggle-bg-checked);
    }

    .peer:checked ~ .switch-toggle .switch-toggle__icon--off {
        @apply hidden;
    }

    .peer:checked ~ .switch-toggle .switch-toggle__icon--on {
        @apply inline-block;
    }

    .switch-toggle--short {
        height: var(--switch-toggle-short-height);
    }

    .switch-toggle--short:after {
        top: -3px;
        left: -1px;
    }

    .peer:focus ~ .switch-toggle--short {
        @apply ring-2 ring-offset-4;
    }

    .peer:checked ~ .switch-toggle--short:after {
        left: 5px;
        @apply border-slate-300;
    }
}

@layer utilities {
    .switch-toggle--sm {
        width: var(--switch-toggle-sm-width);
        height: var(--switch-toggle-sm-height);
    }

    .switch-toggle--sm:after {
        width: var(--switch-toggle-sm-circle-size);
        height: var(--switch-toggle-sm-circle-size);
    }

    .switch-toggle--sm .switch-toggle__icon {
        top: 4px;
        width: var(--switch-toggle-sm-icon-size);
        height: var(--switch-toggle-sm-icon-size);
    }

    .switch-toggle--sm .switch-toggle__icon--off {
        left: 4px;
    }

    .switch-toggle--sm .switch-toggle__icon--on {
        right: 4px;
    }

    .switch-toggle--md {
        width: var(--switch-toggle-width);
        height: var(--switch-toggle-height);
    }

    .switch-toggle--md:after {
        width: var(--switch-toggle-circle-size);
        height: var(--switch-toggle-circle-size);
    }

    .switch-toggle--lg {
        width: var(--switch-toggle-lg-width);
        height: var(--switch-toggle-lg-height);
    }

    .switch-toggle--lg:after {
        width: var(--switch-toggle-lg-circle-size);
        height: var(--switch-toggle-lg-circle-size);
        @apply top-0.5;
        left: 3px;
    }

    .peer:checked ~ .switch-toggle--lg:after {
        left: 5px;
    }

    .switch-toggle--lg .switch-toggle__icon {
        top: 6px;
        width: var(--switch-toggle-lg-icon-size);
        height: var(--switch-toggle-lg-icon-size);
    }

    .switch-toggle--lg .switch-toggle__icon--off {
        left: 6px;
    }

    .switch-toggle--lg .switch-toggle__icon--on {
        right: 6px;
    }
}
