.leading-addon {
    @apply inline-flex
        items-center
        px-3
        rounded-l-md
        border
        border-r-0
        border-blue-gray-300
        bg-blue-gray-50
        text-blue-gray-500
        sm:text-sm;

    svg {
        @apply h-5 w-5 text-blue-gray-400;
    }
}

.inline-addon {
    @apply absolute
        inset-y-0
        left-0
        pl-3
        flex
        items-center
        pointer-events-none;

    > span {
        @apply text-gray-500 sm:text-sm sm:leading-5;
    }
}

.leading-icon {
    @apply absolute
        inset-y-0
        left-0
        pl-3
        flex
        items-center
        pointer-events-none;

    svg {
        @apply h-5 w-5 text-blue-gray-400;
    }
}

.trailing-addon {
    @apply absolute
        inset-y-0
        right-0
        pr-3
        flex
        items-center
        pointer-events-none;

    > span {
        @apply text-blue-gray-500 sm:text-sm sm:leading-5;
    }
}

.trailing-icon {
    @apply pr-3 flex items-center;

    &:not(.password-toggle) {
        @apply absolute inset-y-0 right-0;
    }

    svg {
        @apply h-5 w-5 text-blue-gray-400;
    }
}

.password-toggle {
    @apply bg-white
        border
        border-blue-gray-300
        rounded-md
        rounded-l-none
        border-l-0;
}

.input-error + .password-toggle {
    @apply border-danger-300;
}

.has-leading-addon {
    @apply rounded-none rounded-r-md;
}

.has-leading-icon {
    @apply pl-10;
}

.has-trailing-icon {
    @apply pr-10;
}

.form-select + .trailing-addon {
    right: 1.5rem;
}

.form-select + .trailing-icon {
    right: 1.5rem;
}

.form-select.has-trailing-icon {
    padding-right: 4rem;
}

.form-input-clear {
    @apply transition-colors
        rounded-full
        p-2
        hover:bg-blue-gray-200
        focus:outline-blue-gray;

    svg {
        @apply h-4 w-4;
    }
}
