.custom-select-container .inline-addon,
.custom-select-container .leading-icon {
    z-index: 1;
}

.custom-select__menu-container {
    @apply absolute
        mt-1
        top-10
        w-full
        rounded-md
        bg-white
        shadow-lg
        z-10;

    &.custom-menu-top {
        @apply mt-0 mb-1 top-0;
    }

    &--open {
        @apply ring-primary-400 ring-opacity-50 ring-2;
    }
}

.custom-select__button {
    @apply cursor-default
        relative
        w-full
        rounded-md
        border
        border-blue-gray-300
        bg-white
        pl-3
        pr-10
        py-2
        text-left
        transition
        focus:outline-none
        focus:ring-4
        focus:ring-opacity-50
        focus:ring-primary-400
        sm:text-sm;

    &[disabled] {
        @apply bg-blue-gray-50
            text-blue-gray-500
            cursor-not-allowed;
    }
}

.custom-select__menu {
    @apply py-1
        overflow-auto
        text-base
        leading-6
        rounded-md
        shadow-sm
        max-h-60
        focus:outline-none
        sm:text-sm
        sm:leading-5;
}

.custom-select__filter {
    @apply relative
        py-2
        px-2
        border-b
        border-blue-gray-200;

    + .custom-select__menu {
        @apply rounded-t-none;
    }

    .custom-select__filter-input {
        @apply py-1
            h-full
            w-full
            border-blue-gray-300
            rounded-md
            bg-white
            focus:border-blue-gray-400
            focus:ring-0
            text-sm
            focus:outline-none;
    }
}

// clears the 'X' from Internet Explorer
input.busy[type=search]::-ms-clear,
input.busy[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

// clears the 'X' from Chrome
input.busy[type="search"]::-webkit-search-decoration,
input.busy[type="search"]::-webkit-search-cancel-button,
input.busy[type="search"]::-webkit-search-results-button,
input.busy[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.custom-select__option {
    @apply relative
        py-2
        pl-3
        pr-9
        cursor-default
        select-none
        focus:outline-blue-gray;

    &--selected {
        @apply text-blue-gray-900 bg-blue-gray-300;

        .custom-select__option-display {
            @apply font-semibold;
        }
    }

    &--hovered {
        @apply bg-primary-600 text-white;
    }

    &--disabled {
        @apply opacity-50 cursor-not-allowed;
    }
}

.custom-select__option-no-results {
    @apply italic text-blue-gray-600;
}

.custom-select__opt-group {
    @apply bg-blue-gray-200 text-blue-gray-900 font-semibold;
}

.custom-select__placeholder {
    @apply text-blue-gray-500 block truncate;
}

.custom-select__display {
    @apply flex truncate items-center;
}

.custom-select__select-count {
    @apply text-xs text-blue-gray-500 ml-1;
}

.custom-select-clear {
    @apply absolute
        right-8
        flex
        items-center
        justify-center
        h-6
        w-6
        rounded-full
        text-blue-gray-500
        transition-colors
        hover:bg-blue-gray-300
        focus:outline-blue-gray;
    top: 50%;
    transform: translateY(-50%);
}
