/* purgecss start ignore */
.flatpickr-calendar {
    width: 330px;

    &.open {
        max-height: 650px;
    }
}

.flatpickr-months {
    @apply bg-primary-600
        text-white
        py-3
        px-2
        items-center;

    .flatpickr-prev-month,
    .flatpickr-next-month {
        @apply relative transition rounded-full;

        svg {
            fill: #fff;
            opacity: .8;
        }

        &:hover {
            @apply bg-blue-gray-300;

            svg {
                fill: #333;
            }
        }
    }

    .flatpickr-month {
        @apply flex w-full;

        .flatpickr-current-month {
            @apply text-white w-full relative;
            left: unset;
            transform: unset;

            .flatpickr-monthDropdown-months {
                @apply pl-0 pr-1 mr-1;
            }
        }
    }
}

.flatpickr-current-month .numInputWrapper {
    span.arrowUp {
        &:after {
            border-bottom-color: rgba(#fff, .9);
        }
    }

    span.arrowDown {
        &:after {
            border-top-color: rgba(#fff, .9);
        }
    }
}

.flatpickr-innerContainer {
    @apply p-4;
}

.flatpickr-day.today:not(.selected) {
    @apply border-none
        bg-blue-gray-300
        rounded-full
        text-blue-gray-500;
}
/* purgecss end ignore */
