.form-group-inline {
    @apply sm:grid
        sm:grid-cols-3
        sm:gap-4
        sm:items-start;
}

.form-group-inline--border {
    @apply sm:pt-5
        sm:border-t
        sm:border-blue-gray-200;
}

.form-error {
    @apply mt-1 text-danger-500 text-sm;
}

.form-help {
    @apply mt-2 text-sm text-blue-gray-500;
}

.has-error label {
    @apply text-danger-500;
}

.input-error,
.has-error .form-input,
.has-error .form-select {
    @apply border-danger-300
        text-danger-900
        focus:border-danger-300;

    &:not(.password-toggleable) {
        @apply focus:ring-danger-400 focus:ring-opacity-50;
    }

    &::placeholder {
        @apply text-danger-300;
    }
}

.form-group__inline-label {
    @apply sm:mt-px sm:pt-2;
}

.form-group__content {
    @apply mt-1;
}

.form-group__content--inline {
    @apply sm:mt-0 sm:col-span-2;
}
