.form-text-container {
    @apply flex rounded-sm shadow-sm relative;
}

.form-text {
    @apply flex-1
        block
        w-full
        px-3
        py-2
        border-blue-gray-300
        rounded-md
        placeholder-gray-400
        sm:text-sm;

    &:not(.password-toggleable) {
        @apply focus:border-primary-300
            focus:ring-opacity-50
            focus:ring-4
            focus:ring-primary-400;
    }
}

.password-toggleable {
    @apply border-r-0
        rounded-r-none
        focus:ring-0
        focus:border-blue-gray-300;

    &:not(.input-error) + .password-toggle {
        @apply focus:border-primary-300;
    }
}
