.form-select {
    @apply block
        w-full
        pl-3
        pr-10
        py-2
        rounded-md
        border-blue-gray-300
        sm:text-sm
        focus:outline-none
        focus:border-primary-300
        focus:ring-4
        focus:ring-opacity-50
        focus:ring-primary-400;
}

.form-select[multiple] {
    background-image: none;
    overflow: auto;
}
